<div id="content">
  <div id="content_inside">

    <h1>Generate a brand spankin' new Rails App</h1>

    <div id="generate">
      <ul>
        <li><a href="#" title="JavaScript">JavaScript</a></li>
        <li><a href="#" title="JavaScript">Templating</a></li>
        <li><a href="#" title="JavaScript">Database</a></li>
        <li><a href="#" title="JavaScript">Test Tools</a></li>
        <li><a href="#" title="JavaScript">Fixtures</a></li>
        <li><a href="#" title="JavaScript">Attachments</a></li>
        <li><a href="#" title="JavaScript">Deployments</a></li>
        <li><a href="#" title="JavaScript">Web Server</a></li>
      </ul>

      <div class="description">
        <h3>Database</h3>
        <p>You can choose from several databases: <strong>MySQL</strong>, <strong>PostgreSQL</strong>, <strong>SQLite</strong>, <strong>Oracle</strong> etc.</p>
      </div>

      <a href="#" class="button generate floatr"><strong>Start now</strong></a>

      <div class="clear"></div>
    </div>

    <h2>Pick a popular Rails App stack</h2>

    <div id="popular">
      <ul>
        <li class="default">
          <h3>Default Stack</h3>
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>
          <ul>
            <li>Prototype</li>
            <li>ActiveRecord</li>
            <li>Test Unit</li>
          </ul>
          <code>rails -m http://default.railsgen.com</code>
        </li>
        <li class="rspec">
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>

          <h3>RSpec Stack</h3>
          <ul>
            <li>RSpec 2</li>
            <li>RSpec Rails</li>
            <li>Cucumber</li>
            <li>Capybara</li>
            <li>Factory Girl</li>
          </ul>
          <code>rails -m http://rspec.railsgen.com</code>
        </li>
        <li class="haml">
          <a href="#" class="button generate floatr"><strong>Customize</strong></a>

          <h3>HAML Stack</h3>
          <ul>
            <li>RSpec 2</li>
            <li>RSpec Rails</li>
            <li>Cucumber</li>
            <li>Capybara</li>
            <li>Factory Girl</li>
          </ul>
          <code>rails -m http://haml.railsgen.com</code>
        </li>
      </ul>
      <div class="clear"></div>
    </div>

  </div>
</div>