/* line 36, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 15, ../sass/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 58, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: #000066;
}
/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #cc0099;
}
/* line 103, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1267508922');
}
/* line 5, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error a {
  color: #8a1f11;
}
/* line 7, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice a {
  color: #514721;
}
/* line 9, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success a {
  color: #264409;
}
/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .hide {
  display: none;
}
/* line 13, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .highlight {
  background: yellow;
}
/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp label {
  font-weight: bold;
}
/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp select {
  margin: 0.5em 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus,
form.bp select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 44, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 27, ../sass/screen.sass */
body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.three-col #container {
  display: block;
}
/* line 29, ../sass/screen.sass */
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #header, * html body.three-col #footer {
  overflow-x: hidden;
}
/* line 31, ../sass/screen.sass */
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #sidebar {
  overflow-x: hidden;
}
/* line 35, ../sass/screen.sass */
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 101, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #content {
  overflow-x: hidden;
}
