<div id="navigation_container">
  <div id="logo">
    <a href="/"><img src="/images/logo.png" alt="RailsGen" /></a>
  </div>
  <ul class="navigation">
    <li><a href="#"><strong>Profile</strong></a></li>
    <li><a href="#"><strong>My Stacks</strong></a></li>
    <li><a href="#"><strong>Log Out</strong></a></li>
  </ul>
  <div class="clear"></div>
</div>