<style type="text/css" media="screen">
  #navigation_container {
    display: none;
  }
</style>
<div class="coming_soon">
  <h1>RailsGen.com</h1>
  <div id="steps">
    <p>Launching at Mountain West RubyConf 2010</p>
  </div>
</div>
