<style type="text/css" media="screen">
  #navigation_container {
    display: none;
  }
  #get_the_code, #get_a_preview {
    font-size:15px;
    margin-left:196px;
    margin-right:-100px;
  }
  #logo {
    margin-left: -65px;
  }
</style>
<div class="coming_soon">
  <div id="logo">
    <a href="<%= url(:home) %>"><img src="/images/logo.png" alt="RailsGen" /></a>
  </div>
  
  <div id="steps">
    <p>Launching at Mountain West RubyConf 2010</p>
  </div>
  <p id="get_a_preview"><strong>Want to see the current *broken* version?</strong><br /><a href="/preview">Preview it now</a></p>
  <p id="get_the_code"><strong>Help out with development!</strong><br />http://github.com/railsjedi/railsgen</p>
</div>
