<style type="text/css" media="screen">
  #navigation_container {
    display: none;
  }
  #get_the_code, #get_a_preview {
    font-size:15px;
    margin-left:196px;
    margin-right:-100px;
  }
</style>
<div class="coming_soon">
  <h1>RailsGen.com</h1>
  <div id="steps">
    <p>Launching at Mountain West RubyConf 2010</p>
  </div>
  <p id="get_a_preview"><strong>Want to see the current working version?</strong><br /><a href="/preview">Preview it now</a></p>
  <p id="get_the_code"><strong>Help out with development!</strong><br />http://github.com/railsjedi/railsgen</p>
</div>
