<style type="text/css" media="screen">
#navigation_container {
  display: none;
}
</style>
<div class="coming_soon">
  <div id="logo">
    <a href="<%= url(:home) %>"><img src="/images/logo.png" alt="RailsGen" /></a>
  </div>
  
  <div id="steps">
    <p>Development in progress. Coming Soon!</p>
  </div>
  <!-- <p class="intro">
    RailsGen makes it easy to generate new applications using Rails3 application generators. Pick your components, and generate your app.
  </p> -->
  <div class="intro_more">
    <p id="get_a_preview"><strong>Want to see the current incomplete version?</strong><br /><a href="/preview">Preview</a></p>
    <p id="get_the_code"><strong>Accepting Patches!</strong><br />http://github.com/railsjedi/railsgen</p>
  </div>
</div>
