<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>RailsGen - Generate a Rails3 App</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- Meta -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noodp" />

  <!-- Microsoft smarties -->
  <meta http-equiv="ImageResize" content="no" />
  <meta http-equiv="ImageToolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />

  <!-- Icon -->
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- Default stylesheets -->
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

  <!-- Default javascripts -->
  <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/default.js" type="text/javascript" charset="utf-8"></script>

</head>
<body id="railsgen">

<div id="body">
  <div id="container">
    <div id="content_container">
      <%= render :partial => "shared/header" unless @disable_header %>
      <%= yield %>
    </div>
  </div>
  <div class="train_wrapper">
    <div class="train"></div>
    <div class="perfectline"><a href="http://www.perfectline.co.uk" title="RailsGen is designed by PerfectLine"><img src="/images/perfectline.png" alt="PerfectLine" /></a></div>
  </div>
</div>

<%= render(:partial => "shared/analytics") if Rails.env.production? %>

</body>
</html>