!!! Strict
%html{html_attrs}
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE7")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    %title RailsGen
    = stylesheet_link_tag 'grid', 'text'
  
  %body
    = yield
